<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.depu.mapper.GameHistoryMapper">
    <resultMap id="gameHistoryMap" type="com.example.depu.model.GameHistory">
        <id column="id" property="id" />
        <result column="table_id" property="tableId" />
        <result column="game_id" property="gameId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="pot" property="pot" />
        <result column="winner_id" property="winnerId" />
        <result column="player_result" property="playerResult" />
    </resultMap>
    
    <select id="selectById" resultMap="gameHistoryMap">
        SELECT * FROM game_history WHERE id = #{id}
    </select>
    
    <select id="selectByTableId" resultMap="gameHistoryMap">
        SELECT * FROM game_history WHERE table_id = #{tableId}
    </select>
    
    <select id="selectByWinnerId" resultMap="gameHistoryMap">
        SELECT * FROM game_history WHERE winner_id = #{winnerId}
    </select>
    
    <select id="selectAll" resultMap="gameHistoryMap">
        SELECT * FROM game_history
    </select>
    
    <insert id="insert" parameterType="com.example.depu.model.GameHistory">
        INSERT INTO game_history (id, table_id, game_id, start_time, end_time, pot, winner_id, player_result)
        VALUES (#{id}, #{tableId}, #{gameId}, #{startTime}, #{endTime}, #{pot}, #{winnerId}, #{playerResult})
    </insert>
    
    <update id="update" parameterType="com.example.depu.model.GameHistory">
        UPDATE game_history
        SET table_id = #{tableId},
            game_id = #{gameId},
            start_time = #{startTime},
            end_time = #{endTime},
            pot = #{pot},
            winner_id = #{winnerId},
            player_result = #{playerResult}
        WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="String">
        DELETE FROM game_history WHERE id = #{id}
    </delete>
</mapper>
